<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    {{my_html|safe}}
    {% include 'navbar.html' %}
    {%if products|length != 0%}
    <ul>
        {% for item in products %}
            {%if item == 1 %}
            <li>{{item|add:1000}}</li>
            {%else%}
            <li>{{item}}</li>
            {%endif%}
        {%endfor%}
    </ul>
    {%else%}
    <p> no products available </p>
    {%endif%}
    {% block content %}
    <h1> replace me </h1>
    {% endblock %}
</body>
</html>